<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Ecommerce Savannah API</h1>
    <p>Backend Technical challenge</p>
    <a href="https://github.com/raykipkorir/ecommerce_savannah/">Github repo</a>
    <h3>API documentation</h3>
    <p><a href="{% url "swagger-ui" %}">Swagger documentation</a></p>
    <p><a href="{% url "redoc" %}">Redoc documentation</a></p>
    <p><a href="https://www.postman.com/raykipkorir/workspace/public-workspace/request/19883034-99678c5d-b4dd-4fc9-9651-1bb48fc68bb6" target="_blank">Postman collection</a></p>
    <h3>Tech stack</h3>
    <ul>
        <li>Django</li>
        <li>PostgreSQL</li>
        <li>Docker</li>
        <li>Amazon S3</li>
        <li>Github Actions</li>
        <li>Render</li>
        <li>Africa's talking</li>
    </ul>
    <h4>Users can sign up and login via Google or Github 👇</h4>
    <a href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=https://ecommerce-savannah.onrender.com/api/google-callback/&prompt=consent&response_type=code&client_id=611241998884-3vt81edvfbvca97515qrqpha6rghfcqt.apps.googleusercontent.com&scope=openid%20email%20profile&access_type=offline" target="_blank">Google Auth url</a> <br>
    <a href="https://github.com/login/oauth/authorize?client_id=b3613d55c08b9555021f&redirect_uri=https://ecommerce-savannah.onrender.com/api/github-callback/&scope=user" target="_blank">Github Auth url</a>
    <h3>Developer contact info</h3>
    <a href="mailto:lagatraymondkipkorir@gmail.com">lagatraymondkipkorir@gmail.com</a>
</body>
</html>
